<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- SpringContextHolder Bean -->
    <bean id="springContextHolder" class="org.eafc.spring.SpringContextHolder" />

    <!-- HelloService Bean -->
    <bean id="helloService" class="org.eafc.spring.beans.HelloServiceImpl" />

    <bean id="beforeAdvice" class="org.eafc.spring.beans.aop.BeforeAdvice" />

    <bean id="helloServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="org.eafc.spring.beans.HelloService"/>
        <property name="interceptorNames">
            <list>
                <value>beforeAdvice</value>
            </list>
        </property>
        <property name="target" ref="helloService" />
    </bean>
</beans>